/* 首先清除内外边距 */
* {
    margin: 0;
    padding: 0;
}

/* 确认版心，所有需要和版心有相同宽度的盒子直接调用的公共类 */
.w {
    width: 1200px;
    margin: auto;
}

/* 去除所有无序列表黑点 */
li {
    list-style: none;
}

body {
    background-color: #f3f5f7;
}

/* 去掉所有链接下划线 */
a {
    text-decoration: none;
}

/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
 
/* 头部区域 */
.header {
    height: 42px;
    /* 根据层叠性新的外边距会覆盖版心的外边距 */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    /* 转换为块级元素 */
    display: block;
    height: 42px;
    /* 因为导航栏每个选项字不同，所以指定一个左右行内距撑开盒子而不指定宽度 */
    padding: 0 10px;
    /* 实现垂直居中 */
    line-height: 42px;
    font-size: 18px;
    color:#050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    padding-left: 15px;
    color: #bfbfbf;
    font-size: 14px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* 按钮默认有一个边框，要手动清除 */
    border: 0;
    background: url(images/btn.png);
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666666;
}

.user .img {
    /* vertical-align实现元素中间对齐 */
    vertical-align: middle;
}


/* banner区域 */
.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(images/banner2.png) no-repeat top center;
}

.banner .w .subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0,0,0,0.3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding:0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color:#fff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color:#00a4ff;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    /* 浮动的盒子不会有外边距合并的问题 */
    margin-top: 50px;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color:#fff;
}

.bd {
    padding:0 20px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    color:#4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}

/* 精品推荐模块 */
.goods {
    height: 60px;
    background-color: #fff;
    margin-top:10px;
    box-shadow: 0 2px 3px 3px rgba(0,0,0,0.1);
    /* 行高会继承，可以让所有子级元素居中 */
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

/* box核心内容区域 */
.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float:right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

.box-bd ul {
    width: 1225px;
}

.box-bd ul li {
    /* 子绝父相 */
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box-bd ul li:hover {
    /* 阴影水平位置、阴影垂直位置、模糊距离、阴影尺寸、颜色 */
    box-shadow: 2px 2px 5px 4px rgba(0,0,0,0.3);
}

.box-bd ul li img{
    /* 不让图片超出盒子 */
    /* 用子选择器选img元素，避免和定位用的img元素冲突 */
    width: 100%;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box-bd ul li em {
    position: absolute;
    top: 4px;
    right: -4px;
}

.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999999;
}

.box-bd .info span {
    color: #ff7c2d;
}

/* footer模块 */
.footer {
    height: 415px;
    background-color: #fff;
}

.footer .w {
    /* 使用margin会出现外边距合并的问题 */
    padding-top: 35px;
}

.copyright {
    float: left;
}

.copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 33px;
    color: #00a4ff;
    font-size: 16px;
}

.links {
    float: right;
}

.links dl {
    float: left;
    margin-left: 100px;
    margin-right: 30px;
}

.links dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.links dl dd a {
    color: #333;
    font-size: 12px;
}